* {
  box-sizing: border-box;
}
.Wrapper {
  margin: 2rem;
  padding: 2rem;
  border: 2px solid lightgray;
}

.Block-open {
  background-color: red;

  transition: background-color 2s;
}

.Block-closed {
  background-color: blue;
  transition: background-color 1s;
}

.AppearBlock-open {
  opacity: 1;

  transition: opacity 2s;
}

.AppearBlock-closed {
  opacity: 0;
  transition: opacity 1s;
}

.UnmountBlock-open {
  opacity: 1;

  transition: opacity 2s;
}

.UnmountBlock-closed {
  opacity: 0;
  transition: opacity 1s;
}

.ManualTransition-onMount {
  opacity: 0;
}

.ManualTransition-show {
  opacity: 1;
  transition: opacity 1s;
}

.ReactTransition-enter {
  opacity: 0;
}
.ReactTransition-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.ReactTransition-exit {
  opacity: 1;
}
.ReactTransition-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.TabBar {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid lightgray;
  display: flex;
}

.TabBar a {
  display: block;
  padding: 1rem;
  margin-right: 1rem;

  border: 1px solid blue;
  text-decoration: none;
}

.TabBar a:hover {
  text-decoration: underline;

  background-color: lightblue;
}

.tab-enter {
  opacity: 0;
}

.tab-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.tab-exit {
  opacity: 1;
}

.tab-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}
